* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}
:root {
    --color-bage: #162536;
    --color-content: #0175ff;
}
a {
    text-decoration: none;
}
body {
    background-color: black;
    display: flex;
    gap: 10px;
}
nav {
    width: 80px;
    background-color: var(--color-bage);
    height: 100vh;
    overflow: hidden;
    transition: 0.5s;
}
@media (min-width:767px) {
    nav:hover {
        width: 260px;
    }
}
nav ul li.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul li.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    flex-shrink: 0;
}
nav ul{
    list-style: none;
    position: relative;
    padding: 10px;
    height: 100%;
}
nav ul li a {
    padding: 12px;
    border-radius: 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.3s;
}
nav ul li a:hover, .active {
    background-color: #eeeeee77;
}
nav ul li a i{
    font-size: 30px;
}
@media (max-width: 767px) {
    nav ul li a i {
        font-size: 20px;
    }
}
nav ul li a span{
    font-size: 23px;
}
nav ul li:last-child {
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
}
nav ul li:last-child a {
    background-color: rgb(184, 19, 19);
    padding: 10px 15px;
}
.main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: var(--color-content);
    padding: 15px;
    border-radius: 12px;
}
.container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
.content .box{
    padding: 35px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bage);
    height: 130px;
    border-radius: 12px;
}
.content .box:hover {
    background-color: #eeeeee77;
}
.content .box i{
    font-size: 40px;
}
.content .box span:first-child{
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}
.content .box span:last-child{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
table {
    border-spacing: 10px;
}
table tr{
    text-align: center;
    background-color: var(--color-bage);
    font-size: 17px;
}
@media (max-width: 767px){
    table tr {
        font-size: 14px;
    }
}
table tr th{
    padding: 10px 0;
    background-color: var(--color-content);
    border-radius: 12px;
}
table tr td {
    padding: 10px 0;
    border-radius: 12px;
}
table tr td:first-child{
    width: 40%;
}
table tr td .price{
    padding: 4px;
    background-color: green;
    border-radius: 4px;
}
table tr td .count{
    background-color: gold;
    color: black;
    padding: 4px;
    border-radius: 4px;
}
table td:hover {
    background-color: #eeeeee77;
}